/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
  }
  
  h1 {
    color: #333;
  }
  
  #resultados {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 10px;
  }
  
  p {
    font-size: 16px;
    margin: 5px 0;
  }

  #contenedorH {
    background-color: aquamarine;

  }
  